<div class="container">
  <div class="row">
    <div class="ten columns">
      <h4>Welcome to General Assembly Dream Team!</h4>
    </div>

    <div class="two columns">
      <%= button_to 'LOGIN', 'login', method: 'get',  class: 'button-primary' %>
      <%= button_to 'JOIN', 'join', method: 'get',  class: 'button-primary' %>
    </div>
  </div>
</div>
