<div class="container">
  <form style="margin-top: 15%; margin-left: 25%;">
    <h1>Log In!</h1>
    <div class="row" style="font-size:2em;">
      <div class="eight columns">
        <label for="emailInput">Your email</label>
        <input class="u-full-width" type="email" id="emailInput">
      </div>
    </div>
    <div class="row" style="font-size:2em;">
      <div class="eight columns">
        <label for="passwordInput">Your password</label>
        <input class="u-full-width" type="password" id="passwordInput">
      </div>
    </div>
    <input class="button-primary" type="submit" value="JOIN US!">
  </form>
</div>
