<div class="container">
  <h1>Job List Board</h1>

  <table class="u-full-width">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Date Posted</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/project-details">CareerBuilder</a></td>
      <td>Public</td>
      <td>11/28/2015</td>
      <td>Create a job board site for programmer and employer</td>
    </tr>
  </tbody>
  </table>
</div>
